<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- topbar -->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" herf="#">校友系统</a>
    <form th:action="@{/all}" method="post">
        <input name="key" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <input name="token" type="hidden" value="sousuo">
        <button type="submit" class="btn btn-primary" >搜索</button>
    </form>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#" th:href="@{/login}">Sign out</a>
        </li>
    </ul>
</nav>

<!-- sidebar -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/main}" th:class="${activeUri=='main'?'nav-link active':'nav-link'}">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/all}" th:class="${activeUri=='all'?'nav-link active':'nav-link'}">
                    <span data-feather="users"></span>
                    Alumnis
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Integrations
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
